:root{
    first-color: #FFFFFF;
    second-color: #F5F3F4;
    thirt-color: #D3D3D3;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #ecf0f3;
}

.content div{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
    background: #ecf0f3;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
    box-shadow: -3px -3px 7px #fff,
                 3px 3px 5px #ceced1;
}
.content div:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: inset -3px -3px 7px #fff,
                inset 3px 3px 5px #ceced1;
}
.content div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}