:root{
    first-color: #FFFFFF;
    second-color: #F5F3F4;
    thirt-color: #D3D3D3;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    background-color: #D3D3D3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
body .content{
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.content div{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: gray;
}